<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    <div
      class="table-responsive"
      {% if include.limit and page.announcements.scrollable and news_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      {% assign news = site.news | reverse %}
      {% if include.limit and page.announcements.limit %}
        {% assign news_limit = page.announcements.limit %}
      {% else %}
        {% assign news_limit = news_size %}
      {% endif %}

      <ul class="timeline__list list-unstyled">
        {% assign current_year = "" %}
        {% for item in news limit: news_limit %}
          {% assign year = item.date | date: "%Y" %}
          {% assign day = item.date | date: "%d" %}
          {% assign month_num = item.date | date: "%m" %}

          {% case month_num %}
            {% when "01" %}{% assign month = "Янв" %}
            {% when "02" %}{% assign month = "Фев" %}
            {% when "03" %}{% assign month = "Мар" %}
            {% when "04" %}{% assign month = "Апр" %}
            {% when "05" %}{% assign month = "Май" %}
            {% when "06" %}{% assign month = "Июн" %}
            {% when "07" %}{% assign month = "Июл" %}
            {% when "08" %}{% assign month = "Авг" %}
            {% when "09" %}{% assign month = "Сен" %}
            {% when "10" %}{% assign month = "Окт" %}
            {% when "11" %}{% assign month = "Ноя" %}
            {% when "12" %}{% assign month = "Дек" %}
          {% endcase %}

          {% if year != current_year %}
            <li class="timeline__item timeline__item--year">
             <span class="timeline__date">{{ year }}</span>
            </li>
            {% assign current_year = year %}
          {% endif %}

          <li class="timeline__item">
            <span class="timeline__date">{{ day }} {{ month }}</span>
            <span class="timeline__content">
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p>Пока новостей нет...</p>
  {% endif %}
</div>
